/* Modals CSS */



/* MODAL */
/* The Modal (background) */
.si-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999999999999999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.si-modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0px;
    border: none;
    width: 690px;
    height: 870px;
    border-radius: 32px;
    background: #FFF;
    box-shadow: 0px 8px 42.3px 6px rgba(0, 0, 0, 0.10);
    position: relative;
}

.si-modal-content img {
    width: 100%;
    height: 100%;
    position:absolute;
}

@keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.si-modal-top {
    background: linear-gradient(-45deg, #6675FF, #8a8ed6, #3E3D6A, #7a75d6);
    background-size: 400% 400%;
    animation: gradientBackground 20s ease infinite;
    width: 100%;
    height: 314px;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border-bottom: 14px solid #6675FF;
    position: relative;
}

.si-modal .si-logo {
    position: absolute;
     bottom: -35px;
    left: 75px;
    height: 148px;
    width: 104px;
}

.si-modal .si-logo-rect {
    fill: white !important;
}

.si-modal .si-logo-stroke {
    stroke: white;
    fill: none !important;
}

.si-modal .si-logo-fill {
    fill: #6675FF !important;
}
.si-modal-bottom {
    padding: 50px 70px;
}
.si-modal-header {
    color: rgba(6, 0, 30, 0.75);
    font-family: 'Montserrat', 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 42.847px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.001px;
}
.si-modal-header span {
    font-weight: 700;
}

.si-modal-info-container {
    margin-left: 15px;
    margin-top: 40px;
    width: fit-content;
}
.si-modal-info-block {
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 30px 0px;
}
.si-modal-content .si-modal-info-check {
    width: 32px;
    height: 32px;
}
.si-modal-content .si-modal-info-check svg {
    width: 32px;
    height: 32px;
}
.si-modal-info-block-left {
    color: #06001E;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 19.26px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.659px; /* 117.647% */
    letter-spacing: 0.17px;
    margin-left: 15px;
}
.si-modal-info-block-right {
    color: #6675FF;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15.861px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.659px; /* 142.857% */
    letter-spacing: 0.283px;
    margin-left: 3px;
}
.si-modal-links {
    width: fit-content;
    margin: auto;
    font-family: 'Karla', sans-serif;
    font-size: 15.286px;
    font-style: normal;
    font-weight: 400;
    line-height: 134.8%; /* 20.606px */
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    margin-top: 50px;
}

.si-modal-link {
    display: flex;
    cursor: pointer;
    color: rgba(6, 0, 30, 0.50);
    text-decoration: none;
}
.si-modal-link svg {
    display: flex;
    width: 90.188px;
    height: 18.343px;
    justify-content: center;
    align-items: center;
}

/* The Close Button */
.si-modal-close {
    color: #fff;
    position: absolute;
    right: 0px;
    top: -4px;
    font-size: 28px;
    font-weight: lighter;
    margin-top: 10px;
    margin-right: 20px;
}

.si-modal-close:hover,
.si-modal-close:focus {
    font-weight:bold;
    text-decoration: none;
    cursor: pointer;
}

/* modal responsiveness */
@media screen and (max-width:720px) {
    .si-modal-content {
        max-width: 344px;
        max-height: 575px;
    }
    .si-modal-top {
        max-height: 158px;
        border-bottom: 6px solid #6675FF;
    }
    .si-modal .si-logo {
        width: 72px;
        height: 99px;
        left: 20px;
        bottom: -40px;
    }
    .si-modal-header {
        font-size: 24px;
    }
    .si-modal-bottom {
        padding: 40px 20px;
    }
    .si-modal-content .si-modal-info-check {
        width: 16px;
        height: 16px;
    }
    .si-modal-content .si-modal-info-check svg {
        width: 16px;
        height: 16px;
    }
    .si-modal-info-block-left {
        font-size: 12px;
        margin-left: 6px;
        min-width: fit-content;
    }
    .si-modal-info-block-right {
        font-size: 12px;
    }
    .si-modal-info-container {
        margin-left: 0px;
        margin-top:0px;
    }
    .si-modal-info-block-right.last {
        margin-bottom: -20px;
    }
    .si-modal-links {
        max-width: 180px;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .si-modal-link {
        font-size: 12px;
    }
    .si-modal-link.main {
        font-size: 15.286px;
        margin-bottom: 5px;
    }
}