/* Modals CSS */



/* MODAL */
/* The Modal (background) */
.si-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999999999999999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.si-modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0px;
    border: none;
    width: 1020px;
    height: 610px;
    display: flex;
    border-radius: 32px;
    background: #FFF;
    box-shadow: 0px 8px 42.3px 6px rgba(0, 0, 0, 0.10);
    position: relative;
}


@keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.si-modal-top {
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    position: relative;
}

.si-modal-hero-desktop {
    border-bottom-left-radius: 32px;
    border-top-left-radius: 32px;
    display: block;
}
.si-modal-hero-mobile {
    display: none;
}

.si-modal .si-logo {
    position: absolute;
     bottom: -35px;
    left: 75px;
    height: 148px;
    width: 104px;
}

.si-modal .si-logo-rect {
    fill: white !important;
    color: transparent;
}

.si-modal .si-logo-stroke {
    stroke: white;
    fill: none !important;
}

.si-modal .si-logo-fill {
    fill: #6675FF !important;
    color: transparent;
}
.si-modal-bottom {
    padding: 50px 70px;
}
.si-modal-header {
    color: rgba(6, 0, 30, 0.75);
    font-family: 'Montserrat', 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 42.847px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.001px;
}
.si-modal-header span {
    font-weight: 700;
}

.si-modal-info-container {

}
.si-modal-info-block {
    margin-bottom: 40px;
    display: flex;
}
.si-modal-content .si-modal-info-check {
    width: 32px;
    height: 32px;
}
.si-modal-content .si-modal-info-check svg {
    width: 32px;
    height: 32px;
}
.si-modal-info-block-main {
    margin-left: 15px;
}
.si-modal-info-block-left {
    color: #000000;
    font-family: 'Montserrat', 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.17px;
}
.si-modal-info-block-right {
    color: #404040;
    font-family: 'Karla', 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.283px;
}
.si-modal-links {
    margin: auto;
    margin-bottom: 60px;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 134.8%; /* 20.606px */
}
.si-modal-footer-links {
    line-height: 15px;
    color: #808080;
    margin: auto;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center
}
.si-modal-footer-links a {
    color: #000;
    text-decoration: none;
}

.si-modal-link {
    display: flex;
    cursor: pointer;
    color: rgba(6, 0, 30, 0.50);
    text-decoration: none;
    align-items: center;
}
.si-modal-link svg {
    display: flex;
    width: 90.188px;
    height: 18.343px;
    justify-content: center;
    align-items: center;
    color: transparent;
}

/* The Close Button */
.si-modal-close {
    color: #fff;
    position: absolute;
    right: 0px;
    top: -4px;
    font-size: 28px;
    font-weight: lighter;
    margin-top: 10px;
    margin-right: 20px;
}

.si-modal-close:hover,
.si-modal-close:focus {
    font-weight:bold;
    text-decoration: none;
    cursor: pointer;
}

/* modal responsiveness */
@media screen and (max-width:720px) {
    .si-modal-content {
        max-width: 366px;
        height: auto;
        display: block;
    }
    .si-modal-top {
        max-height: 158px;
        border-bottom: 6px solid #C16452;
    }
    .si-modal-hero-desktop {
        display: none;
    }
    .si-modal-hero-mobile {
        display: block;
        width: 100%;
        border-top-right-radius: 32px;
        border-top-left-radius: 32px;
    }
    .si-modal .si-logo {
        width: 72px;
        height: 99px;
        left: 20px;
        bottom: -40px;
    }
    .si-modal-header {
        font-size: 24px;
    }
    .si-modal-bottom {
        padding: 32px 38px;
    }
    .si-modal-content .si-modal-info-check {
        width: 17px;
        height: 17px;
    }
    .si-modal-content .si-modal-info-check svg {
        width: 17px;
        height: 17px;
    }
    .si-modal-info-block {
        margin-bottom: 28px;
    }
    .si-modal-info-block-main {
        margin-left: 9px;
    }
    .si-modal-info-block-left {
        font-size: 24px;
        min-width: fit-content;
    }
    .si-modal-info-block-right {
        font-size: 16px;
        line-height: 21px;
    }
    .si-modal-info-container {
        margin-left: 0px;
        margin-top:0px;
    }
    .si-modal-info-block-right.last {

    }
    .si-modal-links {
        display: flex;
        justify-content: center;
        margin: 32px 0;
    }
    .si-modal-link {
        font-size: 12px;
    }
    .si-modal-link.main {
        font-size: 15.286px;
        margin-bottom: 5px;
    }
    .si-modal-footer-links {
        font-size: 9px;
    }
}
