/* Widgets CSS */

/* Import fonts so it's the same across all sites (most sites probably have these, but I'm doing this as a fail safe) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* General widget css */
.si-widget .si-widget-container {
    font-family: 'Open Sans', Helvetica, Arial,  Roboto, Lato, sans-serif;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    width: 100%;
}

.si-widget .si-widget-flex-column {
    display: flex;
}

.si-widget .si-header .infoLink, .si-widget .si-header .infoPopupTag {
    display: none;
    font-size: 10px;
    margin-top: -8px;
}

.si-widget .si-disclaimer {
    display: none;
    color:rgba(6, 0, 30, 0.50);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding-bottom: 10px;
    margin-top: -5px;
    width: 298px;
    text-align: start;
}

.si-widget.info-link .si-disclaimer .infoLink {
    display: inline;
    text-decoration: none;
    color: inherit;
    white-space: normal;
}

.si-widget .si-logo {
    width: 28.5px;
    height: 46px;
    margin-top: -1px;
}
.si-logo-rect {
    fill: #06001E;
}

.si-logo-stroke {
    stroke: #06001E;
    fill: none;
}

.si-logo-fill {
    fill: white;
}

.si-widget .si-text-container {
    padding-left: 6px;
}

.si-widget .si-header {
    color:#06001E;
    font-family: 'Montserrat', 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.377px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.si-widget .si-sub-header {
    color:rgba(6, 0, 30, 0.50);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    width: fit-content;
    margin-top: -3px;
}

.si-widget .infoLink, .si-widget.info-link .infoPopupTag {
    display: none;
}

.si-widget.info-link .infoLink {
    display: block;
}
.si-widget.info-link .si-header .infoLink {
    display: none;
}

.si-widget .infoPopupTag, .si-widget .infoLink {
    cursor: pointer;
}

.si-widget .si-sub-header > span {
    font-size: 8px;
    position: absolute;
    top: 0px;
    padding-left: 2px;
}

.si-widget .si-switch-and-price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-top: 1px;
}

.si-widget .si-switch-and-price-container .shipinsureAmount {
    color: #06001E;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.25px;
    margin-right: 2px;
}


/* Switch styling */
.si-widget .switch {
    display: block;
    margin: 12px auto;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 34px;
    height: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 100px;
    cursor: pointer;
    flex: 0 0 31px;
    padding: 0px;
    margin: 1.5px 0px -14px 0px;
    background-color: transparent;
  }
  
  .si-widget .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .si-widget .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #E3E8F5;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background border;
    -moz-transition-property: opacity background border;
    -o-transition-property: opacity background border;
    transition-property: opacity background border;
  }
  .si-widget .switch-label::before,
  .si-widget .switch-label::after {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    font-size: 14px;
  }
  .si-widget .switch-label::before {
    content: attr(data-off);
    right: 11px;
    color: #000;
  }
  .si-widget .switch-label::after {
    content: attr(data-on);
    left: 11px;
    color: white;
    opacity: 0;
  }
  .si-widget .switch-input:checked ~ .switch-label {
    background: #6675FF;
  }
  .si-widget .switch-input:checked ~ .switch-label::before {
    opacity: 0;
  }
  .si-widget .switch-input:checked ~ .switch-label::after {
    opacity: 1;
  }
  .si-widget .switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background: white;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out
  }
  .si-widget .switch-handle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: #f9f9f9;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    background-image: -webkit-linear-gradient(top, #D3D3D3, D3D3D3);
    background-image: -moz-linear-gradient(top, #D3D3D3, D3D3D3);
    background-image: -o-linear-gradient(top, #D3D3D3, D3D3D3);
    background-image: linear-gradient(to bottom, #D3D3D3, D3D3D3);
  }
  .si-widget .switch-input:checked ~ .switch-handle {
    top: 4px;
    left: 20px;
}

/* WIDGET CUSTOMIZATION OPTIONS */

/* Disclaimer */
.si-widget.disclaimer .si-disclaimer {
    display: block;
}

.si-widget.disclaimer .si-sub-header {
    display: none;
}

.si-widget.disclaimer .si-text-container {
    display: flex;
    align-items: center;
}

/* Minimal */
.si-widget.minimal .si-sub-header {
    display: none;
}
.si-widget.minimal .si-text-container {
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.si-widget.minimal .si-logo {
    width: 17px;
    height: 29px;
}
.si-widget.minimal .si-header {
    font-size: 17px;
}
.si-widget.minimal .si-switch-and-price-container {
    flex-direction: row-reverse;
    gap: 4px;
}
.si-widget.minimal .si-leaf-icon, .si-widget.minimal.info-link .si-header .infoPopupTag {
    display: none;
}
.si-widget.minimal.info-link .si-header .infoLink, .si-widget.minimal .si-header .infoPopupTag {
    display: block;
    font-size: 9px;
}
.si-widget.minimal .switch {
    margin: 0px;
}
.si-widget.minimal .switch-label {
    /* width: 35px; */
}
.si-widget.minimal .switch-input:checked ~ .switch-handle {
    left: 17px;
}

/* Dark Mode */
.si-widget.darkmode .si-header {
    color: white;
}

.si-widget.darkmode .si-switch-and-price-container .shipinsureAmount {
    color: white;
}

.si-widget.darkmode .si-sub-header {
    color: rgba(255, 255, 255, 0.60)
}

.si-widget.darkmode .si-logo-rect {
    fill: white;
}

.si-widget.darkmode .si-logo-stroke {
    stroke: white;
    fill: none;
}

.si-widget.darkmode .si-logo-fill {
    fill: #06001E;
}

.si-widget.disclaimer.darkmode .si-disclaimer {
    color:rgba(255, 255, 255, 0.60)
}

/* Hide product (copy this block) */
/*----- */
/* ShipInsure */
[data-vendor="ShipInsure"] {
    display: none !important;
}
.product-shipinsure {
    display: none !important;
}

/* RESPONSIVE */


/* MODAL */
/* The Modal (background) */
.si-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999999999999999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.si-modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0px;
    border: none;
    width: 690px;
    height: 870px;
    border-radius: 32px;
    background: #FFF;
    box-shadow: 0px 8px 42.3px 6px rgba(0, 0, 0, 0.10);
    position: relative;
}

.si-modal-content img {
    width: 100%;
    height: 100%;
    position:absolute;
}

@keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.si-modal-top {
    background: linear-gradient(-45deg, #6675FF, #8a8ed6, #3E3D6A, #7a75d6);
    background-size: 400% 400%;
    animation: gradientBackground 20s ease infinite;
    width: 100%;
    height: 314px;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border-bottom: 14px solid #6675FF;
    position: relative;
}

.si-modal .si-logo {
    position: absolute;
     bottom: -35px;
    left: 75px;
    height: 148px;
    width: 104px;
}

.si-modal .si-logo-rect {
    fill: white;
}

.si-modal .si-logo-stroke {
    stroke: white;
    fill: none;
}

.si-modal .si-logo-fill {
    fill: #6675FF;
}
.si-modal-bottom {
    padding: 50px 70px;
}
.si-modal-header {
    color: rgba(6, 0, 30, 0.75);
    font-family: 'Montserrat', 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 42.847px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.001px;
}
.si-modal-header span {
    font-weight: 700;
}

.si-modal-info-container {
    margin-left: 15px;
    margin-top: 40px;
    width: fit-content;
}
.si-modal-info-block {
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 30px 0px;
}
.si-modal-content .si-modal-info-check {
    width: 32px;
    height: 32px;
}
.si-modal-content .si-modal-info-check svg {
    width: 32px;
    height: 32px;
}
.si-modal-info-block-left {
    color: #06001E;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 19.26px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.659px; /* 117.647% */
    letter-spacing: 0.17px;
    margin-left: 15px;
}
.si-modal-info-block-right {
    color: #6675FF;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15.861px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.659px; /* 142.857% */
    letter-spacing: 0.283px;
    margin-left: 3px;
}
.si-modal-links {
    width: fit-content;
    margin: auto;
    font-family: 'Karla', sans-serif;
    font-size: 15.286px;
    font-style: normal;
    font-weight: 400;
    line-height: 134.8%; /* 20.606px */
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    margin-top: 50px;
}

.si-modal-link {
    display: flex;
    cursor: pointer;
    color: rgba(6, 0, 30, 0.50);
    text-decoration: none;
}
.si-modal-link svg {
    display: flex;
    width: 90.188px;
    height: 18.343px;
    justify-content: center;
    align-items: center;
}

/* The Close Button */
.si-modal-close {
    color: #fff;
    position: absolute;
    right: 0px;
    top: -4px;
    font-size: 28px;
    font-weight: lighter;
    margin-top: 10px;
    margin-right: 20px;
}

.si-modal-close:hover,
.si-modal-close:focus {
    font-weight:bold;
    text-decoration: none;
    cursor: pointer;
}

/* modal responsiveness */
@media screen and (max-width:720px) {
    .si-modal-content {
        max-width: 344px;
        max-height: 575px;
    }
    .si-modal-top {
        max-height: 158px;
        border-bottom: 6px solid #6675FF;
    }
    .si-modal .si-logo {
        width: 72px;
        height: 99px;
        left: 20px;
        bottom: -40px;
    }
    .si-modal-header {
        font-size: 24px;
    }
    .si-modal-bottom {
        padding: 40px 20px;
    }
    .si-modal-content .si-modal-info-check {
        width: 16px;
        height: 16px;
    }
    .si-modal-content .si-modal-info-check svg {
        width: 16px;
        height: 16px;
    }
    .si-modal-info-block-left {
        font-size: 12px;
        margin-left: 6px;
        min-width: fit-content;
    }
    .si-modal-info-block-right {
        font-size: 12px;
    }
    .si-modal-info-container {
        margin-left: 0px;
        margin-top:0px;
    }
    .si-modal-info-block-right.last {
        margin-bottom: -20px;
    }
    .si-modal-links {
        max-width: 180px;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .si-modal-link {
        font-size: 12px;
    }
    .si-modal-link.main {
        font-size: 15.286px;
        margin-bottom: 5px;
    }
}