/* Demo site CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    position: relative;
    margin: 0px;
    z-index: 0;
}
.demo-site-container {
    display: flex;
}
.demo-site-container .flex-container {
    height: 100vh;
    overflow: hidden;
}
.demo-site-container .flex-container.left {
    width: 430px;
}

.demo-site-container .customization-bar {
    background-color: #06001e;
    height: 100%;
    overflow: hidden;
    padding: 50px 60px;
}
.demo-site-container .customization-bar h1 {
    color: #FFF;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 63px;
    margin: 30px 0px 30px;
}
.demo-site-container .flex-container.right {
    flex-grow: 1;
}
.card-and-form-container {
    display: flex;
    flex-direction: column;
}
.demo-cards-container {
    font-family: 'Open Sans', Helvetica, Arial,  Roboto, Lato, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    height: 50vh;
    max-width: 95%;
    border-bottom: 1px solid #3D5781;
}

.form-container {
    border-top: 1px solid #3D5781;;
    height: 50vh;
    text-align: center;
    z-index: auto;
    position: relative;
}

.demo-card {
    border-radius: 10px;
    height: 225px;
    width: 400px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}

.demo-content-container {
    height: 85%;
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.resize-indicator {
    position: absolute;
    color: #FFF;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    background-color: #8D8B98;
    border-radius: 4px;
    padding: 4px;
    text-align: center;
    top: -30px;
    right: 0px;
}


/* Styles for dropdown */
.customization-option {
    margin-bottom: 10px;
    width: 287px;
    height: 56px;
  }
  
  /* Custom arrow */
  .customization-option {
    margin-bottom: 30px;
  }
  
  .customization-option .select-style {
    position: relative;
  }
  
  .customization-option select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
  }
  
  .select-style::after {
    content: '';
    position: absolute;
    right: 18px;
    top: 40%;
    transform: translateY(-50%);
    pointer-events: none;
    border: solid rgba(255, 255, 255, 1);
    border-width: 0 2.5px 2.5px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg) translateY(-50%);
}

  .customization-option select:focus {
    outline: none;
    box-shadow: 0 0 0 2px #666;
  }
  
  /* Hide the default select arrow for IE10/IE11 */
  .customization-option select::-ms-expand {
    display: none;
  }

  .customization-option input {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: text;
   }

.customization-option input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #666;
}


  .select-label {
    color: rgba(255, 255, 255, 0.60);
    position: absolute;
    top: -8px;
    left: 11px;
    background-color: #06001e;
    padding: 0px 4px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }

  /* Styles for other inputs -- same as select-style but without dropdown */
    .input-style {
        position: relative;
    }

/* Styling for the input field, similar to the select field */
.customization-option .input-style input {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: text;
}

.customization-option .input-style input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #666;
}

/* Styling for the input-label; same as select-label */
.input-label {
    color: rgba(255, 255, 255, 0.60);
    position: absolute;
    top: -8px;
    left: 11px;
    background-color: #06001e;
    padding: 0px 4px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}


.mock-checkout-button {
    font-family: inherit;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto 0px;
    height: 42px;
    width: 100%;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.mock-checkout-button:hover {
    opacity: .85;
}

.demo-card.lightmode {
    background-color: white;
}

.demo-card.lightmode .mock-checkout-button {
    background-color: #06001E;
    color: white;
}

.demo-card.darkmode {
    background-color: #06001e;
    color: white;
}

.demo-card.darkmode .mock-checkout-button {
    background-color: rgba(102, 117, 255, 1);
    color: white;
}

.shipinsure {
    margin-bottom: -5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.shipinsure.long-copy-demo {
    margin-bottom: 0px;
}

#demoCard {
    resize: horizontal;
    max-width: 700px;
    min-width: 330px;
    position: fixed;
}

.resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 7px;
    cursor: ew-resize;
    background-color: #8D8B98;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* FORM CSS */
#clientForm {
    margin: 20px auto;
    width: 600px;
    text-align: left;
    z-index: auto;
}

#clientForm input {
    background-color: transparent;
    color: rgba(6, 0, 30, 0.75);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    width: 100%;
    height: 48px;
    border: none;
    padding: 15px;
    border-radius: 4px;
    border: 0.5px solid rgba(6, 0, 30, 0.75);
    cursor: text;
}

#clientForm input:focus {
    outline: none;
    border: 0.5px solid rgba(102, 117, 255, 1);
    box-shadow: 0 0 0 2px rgba(102, 117, 255, 1);
}

#clientForm label {
    color: rgba(6, 0, 30, 0.75);
    background-color: #fff;
    display: block;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    position: absolute;
    margin-top: -9px;
    margin-left: 11px;
    width: fit-content;
    padding: 0px 4px;
    z-index: auto;
}

#clientForm .form-group.focused label {
    color: rgba(102, 117, 255, 1);
}

#clientForm .form-title {
    color:rgba(6, 0, 30, 0.75);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 63px;
    padding: 20px 0px;
}

#clientForm .form-group {
    margin-bottom: 10px;
    position: relative;
}

#clientForm #submitButton {
    cursor: pointer;
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background-color: rgba(102, 117, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: center;
    margin-left: auto;
    width: 226px;
}

#clientForm p {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: rgba(102, 117, 255, 1);
    width: fit-content;
    margin-left: auto;
    text-align: right;
    margin-right: 2px;
}

/* Block users from viewing site on anything smaller than desktop */
@keyframes movingGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.desktop-only-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    font-size: 20px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background: linear-gradient(-45deg, rgba(102, 117, 255, 1), #fff);
    background-size: 200% 200%;
    animation: movingGradient 10s ease infinite;
}

@media screen and (max-width: 1055px), screen and (max-height: 745px) {
    .desktop-only-message {
        display: flex;
    }
}

@media screen and (min-width: 650px) {
    .desktop-only-message {
        font-size: 24px;
        padding: 50px;
    }
}

.desktop-only-message svg {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: all 0.3s ease;
    background-color: black;
    padding: 5px 9px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .desktop-only-message {
        flex-direction: column;
    }
    .desktop-only-message svg {
        position: static;
        margin-top: 20px;
        display: block;
    }
}

.coming-soon-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(181, 181, 181, 0.8); /* semi-transparent white */
    z-index: 10; /* higher z-index to be above the form */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px; /* or any size you want */
    color: #333; /* or any color you want */
    font-weight: bold;
    font-family: 'Open Sans';
    color: #6675FF;
}

.shipinsure {
    transition: max-width 0.5s ease, margin-right 0.5s ease;
    max-width: 100%; /* Ensure an initial value is set */
    margin-right: 0; /* Ensure an initial value is set */
}