/* General styles and imports (keep as is) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* General widget css */
.shipinsure {
    width: 100%;
    margin-bottom: 0px;
}

.si-widget {
    transition: max-width 0.5s ease, margin-right 0.5s ease;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
}

/* Display toggles (keep as is) */
.si-widget .checkout-extension-design-match {
    display: none;
}

.si-widget.checkout-ext-match .si-widget-container {
    display: none;
}

.si-widget.checkout-ext-match .checkout-extension-design-match {
    display: block;
}

/* Normal widget styles */
.si-widget .si-widget-container {
    font-family: 'Open Sans', Helvetica, Arial, Roboto, Lato, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.si-widget .si-widget-container .si-widget-flex-column {
    display: flex;
}

.si-widget .si-widget-container .si-header .infoLink, 
.si-widget .si-widget-container .si-header .infoPopupTag {
    display: none;
    font-size: 10px;
    margin-top: -8px;
}

.si-widget .si-disclaimer {
    display: none;
    color:rgba(6, 0, 30, 0.50);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding-bottom: 5px;
    margin-top: 0px;
    width: 298px;
    text-align: start;
}

.si-widget.info-link .si-disclaimer .infoLink {
    display: inline;
    text-decoration: none;
    color: inherit;
    white-space: normal;
}

.si-widget .si-widget-container .si-logo {
    width: 24.5px;
    height: 41px;
    /* margin-top: -0.5px; */
}

.si-widget.disclaimer .si-widget-container .si-logo  {
    width: 20px;
    height: 30px;
    margin-top: 5px;
}

.si-logo-rect {
    fill: #06001E !important;
}

.si-logo-stroke {
    stroke: #06001E;
    fill: none !important;
}

.si-logo-fill {
    fill: white !important;
    color: transparent;
}

.si-header > .si-leaf-icon > path {
    fill: green !important;
}

.si-widget .si-widget-container .si-text-container {
    padding-left: 6px;
}

.si-widget .si-widget-container .si-header {
    color:#06001E;
    font-family: 'Montserrat', 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 0px;
    margin-top: 6px;
    display: flex;
    align-items: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.si-widget .si-widget-container .si-sub-header {
    color:rgba(6, 0, 30, 0.50);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    width: fit-content;
    margin-top: -3px;
}

.si-widget .infoLink, .si-widget.info-link .infoPopupTag {
    display: none;
}

.si-widget.info-link .si-widget-container .infoLink {
    display: block;
}
.si-widget.info-link .si-widget-container .si-header .infoLink {
    display: none;
}

.si-widget .si-widget-container .infoPopupTag, .si-widget .si-widget-container .infoLink {
    cursor: pointer;
}

.si-widget .si-widget-container .si-sub-header > span {
    font-size: 8px;
    position: absolute;
    top: 0px;
    padding-left: 2px;
}

.si-widget .si-widget-container .si-switch-and-price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-top: 1px;
}

.si-widget .si-widget-container .si-switch-and-price-container .shipinsureAmount {
    color: #06001E;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.25px;
    margin-right: 2px;
}


/* Switch styling */
.si-widget .si-widget-container .switch {
    display: block;
    margin: 12px auto;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 15px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 100px;
    cursor: pointer;
    flex: 0 0 31px;
    padding: 0px;
    margin: 5px 0px -14px 0px;
    background-color: transparent;
  }
  
  .si-widget .si-widget-container .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .si-widget .si-widget-container .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #E3E8F5;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background border;
    -moz-transition-property: opacity background border;
    -o-transition-property: opacity background border;
    transition-property: opacity background border;
  }
  .si-widget .si-widget-container .switch-label::before,
  .si-widget .si-widget-container .switch-label::after {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    font-size: 14px;
  }
  .si-widget .si-widget-container .switch-label::before {
    content: attr(data-off);
    right: 11px;
    color: #000;
  }
  .si-widget .si-widget-container .switch-label::after {
    content: attr(data-on);
    left: 11px;
    color: white;
    opacity: 0;
  }
  .si-widget .si-widget-container .switch-input:checked ~ .switch-label {
    background: #6675FF;
  }
  .si-widget .si-widget-container .switch-input:checked ~ .switch-label::before {
    opacity: 0;
  }
  .si-widget .si-widget-container .switch-input:checked ~ .switch-label::after {
    opacity: 1;
  }
  .si-widget .si-widget-container .switch-handle {
    position: absolute;
    top: 5.5px;
    left: 6px;
    width: 6px;
    height: 6px;
    background: white;
    -moz-border-radius:11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out
  }
  .si-widget .si-widget-container .switch-handle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 10px;
    height: 10px;
    background: #f9f9f9;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    background-image: -webkit-linear-gradient(top, #D3D3D3, D3D3D3);
    background-image: -moz-linear-gradient(top, #D3D3D3, D3D3D3);
    background-image: -o-linear-gradient(top, #D3D3D3, D3D3D3);
    background-image: linear-gradient(to bottom, #D3D3D3, D3D3D3);
  }
  .si-widget .si-widget-container .switch-input:checked ~ .switch-handle {
    top: 5.5px;
    left: 20px;
}

/* WIDGET CUSTOMIZATION OPTIONS */

/* Disclaimer */
.si-widget.disclaimer .si-disclaimer {
    display: block;
}

.si-widget.disclaimer .si-widget-container .si-sub-header {
    display: none;
}

.si-widget.disclaimer .si-widget-container .si-text-container {
    display: flex;
    align-items: center;
}

/* Minimal */
.si-widget.minimal .si-widget-container .si-sub-header {
    display: none;
}
.si-widget.minimal .si-widget-container .si-text-container {
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.si-widget.minimal .si-widget-container .si-logo {
    /* width: 15px;
    height: 27px;
    margin-top: 1.5px; */
    display: none;
}
.si-widget.minimal .si-widget-container .si-header {
    font-size: 16px;
    line-height: 25px;
    margin-top: 2px;
}
.si-widget.minimal .si-widget-container .si-switch-and-price-container {
    flex-direction: row-reverse;
    gap: 4px;
    margin-bottom: -2px;
}
.si-widget.minimal .si-widget-container .si-leaf-icon, .si-widget.minimal.info-link .si-widget-container .si-header .infoPopupTag {
    display: none;
}
.si-widget.minimal.info-link .si-widget-container .si-header .infoLink, .si-widget.minimal .si-widget-container .si-header .infoPopupTag {
    display: block;
    font-size: 9px;
}
.si-widget.minimal .si-widget-container .switch {
    margin: 0px;
}
.si-widget.minimal .si-widget-container .switch-label {
    width: 27px;
}
.si-widget.minimal .si-widget-container .switch-input:checked ~ .switch-handle {
    left: 17px;
}

/* Dark Mode */
.si-widget.darkmode .si-widget-container .si-header {
    color: white;
}

.si-widget.darkmode .si-widget-container .si-switch-and-price-container .shipinsureAmount {
    color: white;
}

.si-widget.darkmode .si-widget-container .si-sub-header {
    color: rgba(255, 255, 255, 0.60)
}

.si-widget.darkmode .si-widget-container .si-logo-rect {
    fill: white !important;
}

.si-widget.darkmode .si-widget-container .si-logo-stroke {
    stroke: white;
    fill: none !important;
}

.si-widget.darkmode .si-widget-container .si-logo-fill {
    fill: #06001E !important;
}

.si-widget.disclaimer.darkmode .si-disclaimer {
    color:rgba(255, 255, 255, 0.60)
}

/* Full Coverage */
.si-widget .si-widget-container .si-full-coverage {
    display: none;
}
.si-widget.full-coverage .si-widget-container .si-switch-and-price-container {
    display: none;
}
.si-widget.full-coverage .si-widget-container .si-full-coverage {
    display: flex;
    width: 53px;
    height: 20px;
    background-color: #6675FF;
    border-radius: 100px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: white;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* Full Coverage Minimal */
.si-widget.full-coverage.minimal .si-widget-container .si-full-coverage {
    width: 46px;
    height: 17px;
    font-size: 10.5px;
    margin-bottom: -0.1px;
}

/* Eco */
#ShipInsureWidget.eco {
    padding: 8px 8px 8px 6px;
}
.si-widget .si-widget-container .si-logo.si-leaf-icon {
    display: none;
}
.si-widget.eco .si-widget-container .si-logo {
    display: none;
}
/* .si-widget.eco .si-widget-container .si-leaf-icon {
    display: none;
} */

.si-widget .si-widget-container .si-sub-header.si-sub-header-eco {
    display: none;
}
.si-widget.eco .si-widget-container .si-sub-header {
    display: none;
}
.si-widget.eco .si-widget-container .si-sub-header.si-sub-header-eco {
    display: block;
    font-size: 11px;
}
.si-widget.disclaimer.eco .si-widget-container .si-sub-header.si-sub-header-eco {
    display: none;
}
.si-widget.minimal.eco .si-widget-container .si-sub-header.si-sub-header-eco {
    display: none;
}
/* .si-widget.eco .si-widget-container .si-logo.si-leaf-icon {
    display: block;
    width: 36px;
    height: 44px;
    margin-left: -3px;
    margin-right: -2px;
} */

#ShipInsureWidget.minimal.eco {
    padding-top: 5px;
}
.si-widget.minimal.eco .si-widget-container .si-header {
    margin-bottom: 0px;
    /* margin-top: -0.05px; */
}
.si-widget.minimal.eco .si-widget-container .si-logo.si-leaf-icon {
    height: 30px;
    width: 30px;
}
.si-widget.eco.full-coverage .si-widget-container .si-full-coverage {
    background-color: #09B825;
}
.si-widget.eco {
    background-color: #C5EBCB;
    border-radius: 8px;
}
.si-widget.eco .si-widget-container .switch-input:checked ~ .switch-label {
    background: #09B825;
}
.si-widget.eco .si-widget-container .si-header {
    color: #06001E;
}

.si-widget.eco .si-widget-container .si-switch-and-price-container .shipinsureAmount {
    color: #06001E;
}

.si-widget.eco .si-widget-container .si-sub-header {
    color:rgba(6, 0, 30, 0.50);
}

.si-widget.eco .si-widget-container .si-logo-rect {
    fill: #06001E !important;
}

.si-widget.eco .si-widget-container .si-logo-stroke {
    stroke: #06001E;
    fill: none !important;
}

.si-widget.eco .si-widget-container .si-logo-fill {
    fill: white !important;
    color: transparent;
}

.si-widget.disclaimer.eco .si-disclaimer {
    color:rgba(6, 0, 30, 0.50);
}

/* Hide product (copy this block) */
/*----- */
/* ShipInsure */
[data-vendor="ShipInsure"] {
    display: none !important;
}
.product-shipinsure {
    display: none !important;
}

/* RESPONSIVE */


/* Checkout Extension */
.si-widget.checkout-ext-match {
  border: 1px solid #d9d9d9 !important;
  border-radius: 6px;
  padding: 8px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 1;
  margin-bottom: 5px;
}

.si-widget.checkout-ext-match .checkout-ext-wrapper {
  display: flex;
  align-items: flex-start;
}

.si-widget.checkout-ext-match .checkout-ext-checkbox {
  margin-right: 4px;
}

.si-widget.checkout-ext-match .checkout-ext-checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.si-widget.checkout-ext-match .checkout-ext-checkbox input[type="checkbox"]:checked {
  background-color: #6675FF;
  border-color: #6675FF;
}

.si-widget.checkout-ext-match .checkout-ext-checkbox input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  transform: rotate(45deg);
}

.si-widget.checkout-ext-match .checkout-ext-info {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.si-widget.checkout-ext-match .checkout-ext-text {
  flex-grow: 1;
}

.si-widget.checkout-ext-match .checkout-ext-text h3 {
  font-size: 14px;
  font-weight: 300;
  color: #06001E;
  margin: 0 0 2px 0;
}

.si-widget.checkout-ext-match .checkout-ext-text p {
  font-size: 11px;
  color: #737373;
  margin: 0;
}

.si-widget.checkout-ext-match .checkout-ext-price-action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-width: 60px;
}

.si-widget.checkout-ext-match .checkout-ext-price {
  font-size: 13px;
  font-weight: 400;
  color: #06001E;
  margin-bottom: 2px;
}

.si-widget.checkout-ext-match .checkout-ext-learn-more {
  font-size: 11px;
  color: #06001E;
  text-decoration: underline;
  margin-bottom: -1px;
  margin-top: 1px;
}

.si-widget.checkout-ext-match .checkout-ext-learn-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.checkout-ext-match-disclaimer {
    border: 1px solid #d9d9d9 !important;
    border-radius: 6px;
    padding: 6.5px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    margin-bottom: 5px;
    font-size: 11px;
    color: #737373;
    background-color: #f0f0f0;
}

.ext-column-left {
    margin-right: 2px;
    margin-left: 2px;
}